/* reset */
button {
  all: unset;
}

.Tabs {
  display: flex;
  flex-direction: column;
}

.TabsHeaders {
  flex-shrink: 0;
  display: flex;
	border-bottom: 1px solid #c9dfe8;
}

.TabsHeader {
  font-weight: 600;
  font-size: 16px;
	font-family: sans-serif;
  text-transform: uppercase;

  height: 64px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #668a99;
  user-select: none;
	cursor: pointer;
}

.TabsHeader:hover:not(:disabled), .TabsHeader:focus {
  background-color: #f9fafa;
}

.TabsHeader:disabled {
  cursor: not-allowed;
  color: #9ebdcb;
}

.TabsHeader[data-headlessui-state="selected"] {
	color: #1d4153;
  box-shadow: inset 0 -1px 0 0 currentColor, 0 1px 0 0 currentColor;
}

.TabsPanel {
  flex-grow: 1;
  padding: 20px;
}

